* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* === ФОН "МАТРИЦА" === */
#matrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    pointer-events: none;
}

/* === ОБЩИЕ СТИЛИ === */
body {
    color: #7ecc00;
    min-height: 100vh;
    background-color: #000;
}

/* === ШАПКА === */
header {
    font-family: "Times New Roman", Times, serif, sans-serif;
    color: #00ff99;
    width: 100vw;
    height: 10vh;
    font-size: 3vh;
    top: 0;
    z-index: 100;
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(
        ellipse closest-corner at 50% 50%,
        #003355 10vmax,
        #004466 20vmax,
        #005577 40vmax,
        #006688 80vmax
    );
}

/* === НАВИГАЦИЯ === */
nav {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #440077;
    height: 4vh;
    top: 10vh;
    font-size: 2vh;
    position: fixed;
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    padding: 1vmax;
    width: 100%;
    border: solid 0.3vmax #ffff00;
}

nav a {
    color: #00ff99;
    text-decoration: none;
}

nav a:hover {
    color: #ff3300;
}

nav a:active {
    color: #ffff00;
}

/* === ОСНОВНОЙ КОНТЕНТ === */
main {
    position: static;
    margin-left: 25vw;
    margin-top: calc(8vh + 4vh + 2vh);
    width: 50vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* === СЕКЦИИ === */
section {
    background: radial-gradient(
        ellipse closest-corner at 50% 50%,
        #003311 10vmax,
        #004422 20vmax,
        #005533 40vmax,
        #006644 80vmax
    );
    border-radius: 0.5vmax;
    border: 0.2vmax solid #ff3300;
    box-shadow: 0 1vmin 1vmin #00ffff;
    padding: 1vmax;
    width: 90%;
    margin: 1vmax;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    scroll-margin-top: calc(
        10vh + 4vh + 2vh
    ); /* Высота header + nav + отступ */
}

/* === ЗАГОЛОВКИ === */
h1,
h2,
h3,
h4,
.phrase {
    padding: 0.5% 0;
    margin: 2%;
}
.phrase {
    font-weight: bold;
}

h2 {
    font-size: 4vmin;
    font-family: "Courier New", Courier, monospace;
    color: #00cccc;
}

h3 {
    font-size: 3vmin;
    font-family: "Times New Roman", Times, serif;
    color: #aacc00;
}

h4 {
    font-size: 3vmin;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #00dd88;
}

h1 {
    color: #77ff00;
    text-shadow: 0.5vmax 0.5vmax 1vmax #0099aa;
}

/* === ИЗОБРАЖЕНИЯ === */
img {
    width: 90%;
    height: auto;
    display: block;
    margin: 5%;
    pointer-events: none;
}

.small-flag {
    width: 3vmin;
    height: 3vmin;
}

.mem-pic {
    border: solid #ff3300 0.2vmax;
}

/* === БЛОКИ === */
.row-order {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.around {
    border: solid 0.2vmax #006677;
    background-color: #003344;
    margin: 2vmax;
    padding: 0.5vmax;
}

/* === ТАБЛИЦЫ === */
table {
    width: 95%;
    border-collapse: collapse;
    border: solid #ff3300 0.2vmax;
    font-size: 2vmin;
    font-weight: bold;
    margin: 2%;
}

th,
td {
    border: 0.2vmax solid #ff3300;
    padding: 1vmax;
    text-align: left;
    background-color: #003322;
}

th {
    background-color: #220088;
    text-align: center;
}

/* === ФОРМА === */
.questions,
form {
    margin: 1vmax;
}

label {
    display: block;
    margin-bottom: 0.5vmax;
    font-weight: bold;
    height: 2vh;
    font-size: 2vh;
}

.lb11 {
    color: #ff3300;
    margin-top: 0.2vmax;
    margin-bottom: 0.2vmax;
}

.lb10 {
    color: #00ffff;
    margin-top: 0.2vmax;
    margin-bottom: 1vmax;
}

.lb21 {
    color: #ff33ff;
    margin-top: 0.2vmax;
    margin-bottom: 0.2vmax;
}

.lb20 {
    color: #00ffff;
    margin-top: 0.2vmax;
    margin-bottom: 1vmax;
}

input,
select,
textarea {
    width: 100%;
    padding: 1vmax;
    margin: 1vmax 0;
    border: 0.2vmax solid #550077;
    border-radius: 0.2vmax;
    color: #009900;
    background-color: #003355;
    font-size: 0.7vw;
}

button {
    background-color: #550077;
    color: #00aacc;
    border: solid #00aacc 0.2vmax;
    box-shadow: 0.3vmax 0.7vmax 0.4vmax #777777;
    padding: 0.8vmax;
    font-size: 2vh;
    font-weight: bold;
    border-radius: 0.4vmax;
    cursor: pointer;
    margin-right: 1vmax;
}

button:hover {
    background-color: #ff3300;
    box-shadow: 0.4vmax 0.8vmax 0.4vmax #777777;
}

button:active {
    box-shadow: 0.4vmax 0.8vmax 0.7vmax #777777;
}

/* === ПОДВАЛ === */
footer {
    background-color: #002233;
    color: #00ff33;
    border-radius: 0.5vmax;
    border: 0.2vmax solid #ff3300;
    box-shadow: 0 1vmin 1vmin #00ff33;
    font-weight: bold;
    height: 5vh;
    font-size: 2vh;
    width: calc(100% - 8vw);
    position: static;
    z-index: 200;
    padding: 1vmax;
    margin: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

/* === СПИСКИ === */
ul,
ol {
    font-weight: bold;
    font-size: 2vh;
    color: #33aaaa;
    text-align: left;
}

li {
    margin: 1vmax 0;
}

/* === ТЕКСТ === */
.phrase {
    font-style: italic;
    font-size: 2.5vmin;
}

.center-text {
    text-align: center;
}

.left-text {
    width: 95%;
    text-align: left;
    font-size: 2vmin;
}

.bold {
    font-weight: 900;
    color: #00ffdd;
}

/* === ССЫЛКИ === */
a {
    color: #ff0033;
    text-decoration: none;
}

a:hover {
    color: #ffff00;
}

a:active {
    color: #ffffff;
}

/* === ЦЕЛЬ === */
:target {
    scroll-margin-top: calc(10vh + 4vh + 2vh);
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* === РАДИО / ЧЕКБОКСЫ === */
#yes,
#no,
#code,
#picture,
#text {
    width: 1vmax;
    height: 1vmax;
}

/* === АДАПТИВ === */
@media (aspect-ratio < 0.7) {
    .header {
        font-size: 5vh;
    }
    .left-text {
        font-size: 1.2vh;
    }
    h1 {
        font-size: 5vh;
    }
    h2 {
        font-size: 2vh;
    }
    h3 {
        font-size: 2vh;
    }
    nav {
        height: 4vh;
        font-size: 1.2vh;
    }

    main {
        width: 90vw;
        margin-left: 5vw;
    }
    p {
        font-size: 1.2vh;
    }
    button,
    input,
    select,
    textarea,
    table {
        font-size: 3vmin;
    }
    ul,
    ol {
        font-size: 1.7vh;
    }
    footer {
        font-size: 3vmin;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
